
body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  margin: 0;
  padding: 0;
}
header {
  background: #222;
  padding: 1em;
  text-align: center;
}
.version {
  font-size: 0.9em;
  color: #ccc;
}
.subtitle {
  font-size: 0.9em;
  color: #aaa;
}
main {
  padding: 1em;
}
input[type="file"] {
  display: block;
  margin: 1em 0;
}
button {
  padding: 1em;
  width: 100%;
  background: #0af;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}
